@{
    ViewBag.Title = "Home Page";
}

<ul>
    <li class="product-item">
        <a href="#" class="product-name">Product 1</a>
        <img class="product-image" src="~/Assets/1-210.jpg" />
        <a href="#" class="addtocart">Thêm vào giỏ hàng</a>
    </li>
    <li class="product-item">
        <a href="#" class="product-name">Product 2</a>
        <img class="product-image" src="~/Assets/1-210.jpg" />
        <a href="#" class="addtocart">Thêm vào giỏ hàng</a>
    </li>
    <li class="product-item">
        <a href="#" class="product-name">Product 3</a>
        <img class="product-image" src="~/Assets/1-210.jpg" />
        <a href="#" class="addtocart">Thêm vào giỏ hàng</a>
    </li>
    <li class="product-item">
        <a href="#" class="product-name">Product 4</a>
        <img class="product-image" src="~/Assets/1-210.jpg" />
        <a href="#" class="addtocart">Thêm vào giỏ hàng</a>
    </li>
</ul>